@page
@model DatabaseProject.Pages.CustomerLabTestsModel
@using DatabaseProject.Models;

@{
    ViewData["Title"] = "Lab Tests";
}

<div class="container table-container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Lab Tests</h2>
    </div>
    <table class="table table-bordered table-hover table-striped">
        <thead class="table-primary">
            <tr>
                <th>LT_Name</th>
                <th>LT_Category</th>
                <th>LT_Description</th>
                <th>LT_Price</th>
                <th>Result Time Frame</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var labTest in Model.LabTestslist)
            {
                <tr>
                    <td>@labTest.LT_name</td>
                    <td>@labTest.LT_category</td>
                    <td>@labTest.LT_price</td>
                    <td>@labTest.LT_description</td>
                    <td>@labTest.Result_time_frame</td>
                </tr>
            }
        </tbody>
    </table>
</div>
